<h1 class="text-center">Temperature Converter</h1>
<form clrForm [formGroup]="form" clrLayout="vertical">
  <div class="d-flex justify-content-around">
    <clr-input-container>
      <label>Fahrenheit</label>
      <input clrInput type="number" formControlName="fahrenheiht" />
    </clr-input-container>
    <clr-input-container>
      <label>Celsius</label>
      <input clrInput type="number" formControlName="celsius" />
    </clr-input-container>
    <clr-input-container>
      <label>Kelvin</label>
      <input clrInput type="number" formControlName="kelvin" />
    </clr-input-container>
  </div>
</form>

<div class="m-5 d-flex justify-content-center align-items center">
  <button (click)="onSearchClick()" type="button" class="btn btn-primary">Search</button>
  <input clrInput type="text" [(ngModel)]="citySearchText">
</div>
<h3 class="text-center">{{averageCityTemperatureSummary}}</h3>
